
<div class="container">
  <form>
    <div class="form-row">
      <div class="form-group col-sd-3">
        <label>Borrow Amount</label>
        <input type="number" class="form-control" placeholder="10000" name="totalBorrowed" [(ngModel)]="totalBorrowed">
      </div>
      <div class="form-group col-sd-3">
        <label>APR</label>

        <div class="input-group mb-3">
          <input type="number" class="form-control" placeholder="4" name="apr" [(ngModel)]="apr">
          <div class="input-group-append">
            <span class="input-group-text">%</span>
          </div>
        </div>

      </div>

      <div class="form-group col-sd-3">
        <label>Months</label>
        <input type="number" class="form-control" placeholder="360" name="months" [(ngModel)]="months" >
      </div>

      <div class="form-group col-sd-3">
        <label>Additional</label>
        <input type="number" class="form-control" placeholder="0" name="additionalPrincipal" [(ngModel)]="additionalPrincipal" >
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="useAdditionalFromTable" [(ngModel)]="useAdditionalFromTable" >
          <label class="form-check-label" for="gridCheck">
            Use value from table
          </label>
        </div>
      </div>


    </div>
    <button type="submit" class="btn btn-primary" (click)="calculate()">Calculate</button>
  </form>



<a href="#bottom">Go to bottom</a>
<div id="top"></div>
<div *ngIf="result">
  <div><label for="">Monthly Payments:</label><span  class="text-primary">{{result.cyclePayments | currency}}</span></div>
  <div><label for="">Total Interests:</label><span  class="text-primary">{{result.totalInterest | currency}}</span>  <span class="text-warning">({{result.totalInterest / result.totalPrincipal | percent}} of original borrowed)</span></div>
  <div><label for="">Total Payments:</label><span  class="text-primary">{{result.totalInterest + result.totalPrincipal | currency}}</span></div>
  <table class="table  table-striped">
    <thead>
      <tr>
        <th>Pay#</th>
        <th>Pricipal</th>
        <th>Interest</th>
        <th>Additional</th>
        <th>Rest %</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pay of result.payments">
        <th>{{pay.index+1}}</th>
        <td>{{pay.principal|currency}}</td>
        <td>{{pay.interest|currency}}</td>
        <td><input type="number" [(ngModel)]="pay.additional" [hidden]="!useAdditionalFromTable" style="width:80px"/>
          <span [hidden]="useAdditionalFromTable">{{pay.additional | currency}}</span>
        </td>
        <td title="{{pay.restPrincipal | currency}}">{{pay.restPrincipal / totalBorrowed | percent}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div id="bottom"></div>
<a href="#top">Go to top</a>


</div>
